.login {
	.login-content {
		color: #000;
		.lc-img {
			height: 420rpx;
			position: relative;
			background-color: #FFC300;
			margin-top: -2rpx;
			z-index: 0;
			.lci-img {
				width: 825rpx;
				height: 446.14rpx;
				position: absolute;
				left: -37.5rpx;
				top: -22rpx;
				z-index: 0;
			}
		}
		.lc-inter {
			padding: 58rpx;
			box-sizing: border-box;
			border-radius: 38.46rpx;
			margin-top: -26rpx;
			position: absolute;
			width: 100%;
			background-color: #fff;
			.lci-form {
				position: relative;
				height: 220rpx;
				::v-deep .u-form-item__body__left__content__label {
					font-size: 38.46rpx;
					font-weight: 500;
					padding-bottom: 17rpx;
				}
				.lcif-input {
					border-radius: 226.92rpx;
					font-size: 30.77rpx;
					padding-left: 30rpx !important;
					padding-right: 200rpx !important;
				}
				.lcif-forget {
					position: absolute;
					font-size: 30.77rpx;
					font-weight: 400;
					color: rgba(255, 177, 25, 1);
					right: 15rpx;
				}
			}
			.lci-next {
				margin-top: 58rpx;
				.lcin-argee {
					margin-top: 10rpx;
				}
			}
		}
		.lc-bottom {
			position: fixed;
			bottom: 30rpx;
			text-align: center;
			font-size: 26.92rpx;
			font-weight: 500;
			width: 100%;
			font-family: 'HarmonyOS Sans SC';
		}
	}
}