.position-record {
		overflow: hidden;

		.textRight {
			text-align: right;
		}

		.textleft {
			text-align: left;
		}

		.textCenter {
			text-align: center;
		}

		.pl-color {
			color: rgba(252, 165, 4, 1) !important;
		}

		.pl-color2 {
			color: rgba(0, 186, 173, 1) !important;
		}

		.p-posi {
			display: flex;
			align-items: center;

			.pp-text {
				font-size: 26.92rpx;
				padding-left: 10rpx;
			}
		}

		.p-scroll {
			// background-color: red;
			padding: 30rpx 31rpx 0rpx 31rpx;
			box-sizing: border-box;
			height: calc(100vh - 184rpx);
			// #ifdef H5
			height: calc(100vh - 92rpx);

			// #endif
			.pd-border {
				border: 1rpx solid #000;
			}
			.psd-time {
				font-size: 23.08rpx;
				padding-bottom: 27rpx;
				text-align: center;
			}
			.ps-data {
				padding: 31rpx;
				border-radius: 15.38rpx;
				background-color: #fff;
				margin-bottom: 30rpx;
				box-sizing: border-box;

				.psd-sus {
					display: flex;
					justify-content: space-between;

					.psds-li {
						width: 33.333%;

						.psdsl-top {
							font-size: 26.92rpx;
							font-weight: 300;
							line-height: 1;
							color: rgba(0, 0, 0, 1);
						}

						.psdsl-bottom {
							padding-top: 30rpx;
							font-size: 30.77rpx;
							font-weight: 600;
							line-height: 1;
							color: rgba(0, 0, 0, 1);
							position: relative;

							.psdslb-btn {
								position: absolute;
								// width: 67.31rpx;
								// height: 32.69rpx;
								padding: 6rpx 10rpx;
								background: rgba(204, 204, 204, 1);
								display: flex;
								justify-content: center;
								align-items: center;
								border-radius: 6rpx;
								font-size: 23.08rpx;
								right: -10rpx;
								bottom: 4rpx;
								color: rgba(0, 0, 0, 1);
							}
						}
					}
				}

				.psd-bottom {
					border-radius: 15.38rpx;
					// background: rgba(255, 235, 196, 1);
					display: flex;
					justify-content: space-between;
					margin-top: 30rpx;

					.psdbs-li {
						// width: '50%%';
						// padding: 30rpx rpx;

						.psdsl-top {
							font-size: 19.23rpx;
							font-weight: 300;
							line-height: 1;
							color: rgba(0, 0, 0, 1);
						}

						.psdsl-bottom {
							padding-top: 30rpx;
							font-size: 26.92rpx;
							font-weight: 600;
							line-height: 1;
							color: rgba(0, 0, 0, 1);
						}

						.pl-color {
							color: rgba(0, 186, 173, 1);
						}
					}
				}
			}
		}
	}